
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
     background-color: #F9FAFB;
     line-height: 30px;
    letter-spacing: 2px;
    color: teal;
     
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    align-items: center;
    background-color:#121212;
    position: relative;
    box-shadow: 0px 4px 4px #333;
    
}

.logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    
    color: #ff3f80;
    
}

.nav-links{
  font-size: 15px;
    list-style: none;
    display: flex;
    gap: 10px;
    

}
 .nav-links li a{
    text-decoration: none;
    padding: 5px 10px;
    border-color: #333;
    border-radius: 5px;
    transition:0.5s;
    color: #ffffff;
        
    }

    .nav-links li a:hover {
  background-color: #ff3f80;
  color:#ffffff;
  font-size: 16px;
}

.hamburger{
    display: none;
   flex-direction: column;
   cursor: pointer;
   gap: 5px;
}
.hamburger span{
    width: 25px;
    height: 3px;
    background-color: #96c3eb;
    border-radius: 2px;
    transition: all 0.3s ease;
    

}


.hamburger.active span:nth-child(1) {
  transform: rotate(-45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0; /* hide middle bar */
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px){
   
    .nav-links{
        position:absolute;
        top: 25px;
        right: 0;
        width: 100%;
        flex-direction: column;
        background-color: #171818;
        display: none;
        text-align: center;
        gap: 20px;
        padding: 20px;
        
        border-radius: 4px;
    }
   

.nav-links.active{
    display: flex;
}
.hamburger{
    padding: 10px;
    display: flex;
}
}



/*Div*/



.intro{
  border-radius:2px ;
    
    margin: 20px auto;
    text-align: center;
    width:100%;
    
   
}
.intro img{
  border-radius: 2px;
     width: 90vw;  
    height: 70vh;  
    object-fit: cover;
    transition: all 0.3 ease;
    

}



    .container {
        width: 90%;
            letter-spacing: 2px;
            word-spacing: 2px;
            

margin:10px auto;
padding:20px;

      display: flex;
      justify-content: space-between;
      gap: 20px;
     
      
     
    }
    p{
        line-height: 30px;
    letter-spacing: 2px;
   
    }

    .box {
      
     
        border-radius: 10px;

      flex: 1;
      padding: 20px;
      color: teal;
    }

    .left {
      
      border-right: 3px solid #121212;
       border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
        

      background:#FFFCFB;
         transition: all 0.3s ease-in;
     
    }
    .left:hover{
   
      /* margin-top: 5px; */
   

    }

    .right {
       display: flex;
  align-items: center;   /* vertical center */
  justify-content: center;
    
        text-align: center;
        color:#121212;

      border-radius: 10px;
      background-color: #FFFCFB;
      transition: all 0.3s ease-in;
    }
     .right:hover{
     
      /* margin-top: 5px; */
   

    }
   
    /* On small screens stack them */
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        text-align: center;
      }
      .intro img{
     width: 90vw;   /* 25% of viewport width */
    height: 30vh;  /* 25% of viewport height */
    object-fit: cover;
    transition: all 0.4 ease;
}


.left{
  border-right: none;
  border-bottom: 2px solid #121212;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.right{
  
  background: #FFFCFB;
}
    }


    .btn{
       letter-spacing: 2px;
    height: 40px;
    margin: 20px auto;
    background-color: #f6739e;
    color: white;
    padding: 10px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    width: 80%;
    max-width:400px;
    transition: all 0.3s ease;
    cursor: pointer;
   
    
}
.btn:hover{
     background-color:#ff3f80;
     /* height: 42px; */
      /* width: 85%; */
      /* font-size: 15px; */
      justify-content: center;

}


.bar{

    margin: 20px auto;
    padding: 1px;
    height: 1px;
    border-radius: 2px;
    
    width: 90%;
    background-color: #333;

}
a{
    text-decoration: none;
    color: #ffffff;
}
.element{
  text-align: center;
  width: 80%;
  
}