

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
     background-color: #F9FAFB;
     line-height: 30px;
    letter-spacing: 2px;
    color: teal;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    align-items: center;
    background-color:#111827;
    position: relative;
    box-shadow: 0px 4px 4px #000000;
    
}

.logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    
    color: #ff3f80;
    
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 10px;
    

}
 .nav-links li a{
    text-decoration: none;
    padding: 5px 10px;
    border-color: #333;
    border-radius: 5px;
    transition:0.5s;
    color: #ffffff;
        
    }

    .nav-links li a:hover {
  background-color: #ff3f80;
  color:#ffffff;
}

.hamburger{
    display: none;
   flex-direction: column;
   cursor: pointer;
   gap: 5px;
}
.hamburger span{
    width: 25px;
    height: 3px;
    background-color: #96c3eb;
    border-radius: 2px;
    transition: all 0.3s ease;
    

}


.hamburger.active span:nth-child(1) {
  transform: rotate(-45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0; /* hide middle bar */
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px){
   
    .nav-links{
        position:absolute;
        top: 25px;
        right: 0;
        width: 100%;
        flex-direction: column;
        background-color: #171818;
        display: none;
        text-align: center;
        gap: 10px;
        padding: 15px 0;
        border-radius: 4px;
    }
    .nav-links a{
   
    
       

    }

.nav-links.active{
    display: flex;
}
.hamburger{
    display: flex;
}
}





/*Form*/
.form{
    
    
    
    
   
}
.element{
    text-align: center;
    
}

.frm{
    
    
    justify-content: center;
    background-color: #FFFCFB;
    
    border-radius:15px;

    border: 2px solid #fff;
    padding: 15px;
    
    width: 80%;
    margin:20px auto;
    align-items: center;
    max-width:400px;
}

input[type="text"],
input[type="password"],
input[type="email"] {

    
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 2px;
    border: 1px solid #674CC4;
    width: 80%;
    max-width: 400px;
    align-items: center;
    outline: none;
    transition: all 0.3s ease;
     letter-spacing: 2px;
    
   
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover{
      
      /* width: 82%; */
      /* font-size: 15px; */

}
input::placeholder{
   font-size: 10px; 
  color: gray; 
}

.element.inline {
    margin: 10px;
   
    text-align: center;
  display: flex;
  
  gap: 5px;            
}
.check{
    height: 10px;
    margin: 10px;
    
  
}
.visible
{
    font-size: 14px;
 
}

.btn{
    height: 40px;
    letter-spacing: 2px;
    margin: 10px auto;
    background-color: #f6739e;
    color: white;
    padding: 10px;
    display: inline-block;
    border:none;
    border-radius: 4px;
    width: 80%;
    max-width:400px;
    transition: all 0.3s ease;
    cursor: pointer;
    
}
.btn:hover{
    background-color:#ff3f80;
      /* height: 42px;
      width: 82%;
      font-size: 15px; */

}
h2{
    color:#ff3f80 ;
}
h3{
    font-family: "Poppins", Arial, sans-serif;
    color: #000000;
}


.txt{
    margin: 20px auto;
    padding: 16px;
    max-width: 400px;
    width: 90%;

}

.span{
   
   text-align: left;
    
}
a{
    text-decoration: none;
    
}
a:link,a:visited{
    color: #ff3f80;
}

.elemnt{
   
    text-align: center;
   

}

.google-wrapper {
    width: 80%;          /* Responsive */
    max-width: 400px;    /* Desktop limit */
    min-width: 240px;    /* Prevent tiny shrink on small screens */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px){

    .frm{
    
   
   
    width: 80%;
    }
 

}

.bar{

    margin: 20px auto;
    padding: 1px;
    height: 1px;
    border-radius: 2px;
    
    width: 90%;
    background-color: #333;

}